.app-image {
    width: 100%;
}

.app-image+h4 {
    font-family: Roboto;
    letter-spacing: 2px;
}

.snitcherinfo {
    font-family: Roboto Mono;
    font-size: 1.2em;
}

.projectinfo {
    width: 100%;
}

.snit-parag,
.portf-parag {
    font-family: 'Lucida Sans Unicode';
}

.small-width-links {
    width: 4.5em;
    animation: unset;
}