.project {
    background-color: #2c2b23;
    width: fit-content;
    flex-grow: 1;
}

.snit-parag {
    width: 92%;
    color: #a9a9a9;
}

.p-header {
    font-size: 1.3em;
    font-family: Roboto Mono;
    text-align: center;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.header-projects {
    color: wheat;
}

@media (max-width: 730px) {
    .snitcher-app {
        /* flex-grow: 1; */
        margin-left: -10px;
        margin-right: 4px;
    }
    .portfolio-app {
        /* flex-grow: 1; */
    }
    .header-projects {}
    .project {
        width: 100%;
    }
}

@media (max-width: 530px) {
    .flex {
        flex-direction: column;
        align-items: center;
    }
    .snitcher-app,
    .portfolio-app,
    .snitcherReact,
    .snitcher-server {
        width: 80%;
        border: none;
    }
    .snitcher-app {
        margin-bottom: 1em;
    }
    .portfolio-app {
        /* left: -7px !important; */
    }
    .project {
        /* height: 180vh; */
    }
}

@media (max-width:400px) {
    .project {
        /* height: 210vh; */
    }
}

@media (max-width: 300px) {
    .project {
        /* height: 230vh; */
    }
}