@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&family=Roboto:wght@500&display=swap');
h1 {
    font-family: Roboto Mono;
    font-size: 1.2em;
    text-align: center;
    background-color: rgb(200, 201, 170);
    margin: 0;
    padding: 2%;
    min-height: 1.5em;
    max-height: fit-content;
    color: #0d5c58;
}

.prof-header {
    border: 2px solid black;
    margin-top: 1em;
    width: 100%;
}

@media (max-width: 730px) {
    .prof-header {
        width: 80%;
    }
}

@media (max-width: 540px) {
    h1 {
        font-size: 1em;
    }
}

@media (max-width:510px) {
    .prof-header {
        width: 65%;
    }
}