body {
    margin: 0;
}

.App {
    display: flex;
    min-height: 100vh;
}

.socialIcon a {
    text-decoration: none;
}

.socialIcon i {
    color: rgb(1, 1, 15);
    font-size: 1.8em;
}

@media (max-width: 810px) {
    .App {
        flex-direction: column;
        overflow-x: hidden;
    }
}

::-webkit-scrollbar {
    width: .5em;
}

::-webkit-scrollbar-track {
    background: rgb(193, 183, 165);
}

::-webkit-scrollbar-thumb {
    background: hsl(180, 60%, 10%);
}