body {
    margin: 0;
}

.App {
    height: fit-content;
    /* overflow-x: hidden;
    overflow-y: scroll; */
}

.socialIcon a {
    text-decoration: none;
}

.socialIcon i {
    color: rgb(1, 1, 15);
    font-size: 1.8em;
}

footer {
    position: relative;
    bottom: 3em;
    left: 49vw;
    width: 15vw;
}