@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
.side-icon {
    text-align: center;
    padding: 1em 0;
    transition: all 0.7s ease-in-out;
    height: 10%;
}

.side-icon:hover {
    background-color: white;
}

.side-icon:active {
    background-color: rgb(10, 10, 59);
}

.side-icon:hover i {
    color: black;
}

.side-icon:hover .link {
    color: black;
}

.null:hover {
    background-color: #000c18;
}

i {
    font-size: 2.4em;
    color: gold;
    transition: all 1s ease-in-out;
}

nav:hover i {
    transform: translateX(1em);
}

.link {
    display: none;
    max-width: 40px;
    font-size: 25px;
    font-family: Roboto;
    color: gold;
    position: relative;
    left: -40px;
}

nav:hover .link {
    display: inline-block;
}


/* @media (max-width: 730px) {
    .side-icon {
        background-color: #000c18;
    } */